:root {
  --primary: #6C5CE7;
  --text: #2D3436;
  --accent1: #FDCB6E;
  --accent2: #55EFC4;
  --accent3: #D63031;
  --secondary1: #ADADAD;
  --secondary2: #C2C2C2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: var(--text);
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

button, input, textarea {
  font-family: inherit;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  height: 64px;
  width: 170px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 32px;
  background: var(--primary);
  color: white;
}

.btn--outline {
  background: none;
  border: 1px solid var(--secondary1);
  font-size: 18px;
  color: var(--primary);
  border-radius: 16px;
}

.header-wrapper {
  height: 96px;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
  box-shadow:
    0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

.header__content {
  height: 96px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo__text {
  font-weight: 700;
  font-size: 48px;
  padding-left: 2px;
}

.main-nav__link {
  color: var(--primary);
  text-decoration: none;
  margin: 0 16px;
  font-size: 18px;
}

.main-nav__divider {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent1);
}

.main-nav__link:hover {
  font-weight: 700;
  color: var(--text);
}

.main-nav__link--active {
  font-weight: 700;
  color: var(--text);
}

.intro {
  padding-top: 80px;
  background-image: url("./images/intro_bg.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

.intro__title {
  text-align: center;
  font-weight: 900;
  font-size: 64px;
}

.intro__title strong {
  font-size: 96px;
  font-weight: 800;
  line-height: 120px;
  vertical-align: top;
}

.accent-text {
  color: var(--accent3);
  text-shadow: 0 4px 0 #FFFFFF;
  position: relative;
}

.accent-text span {
  position: relative;
  z-index: 2;
}

.accent-text::after {
  content: "";
  display: inline-block;
  width: 191px;
  height: 51px;
  border-radius: 26px;
  background: var(--accent2);
  position: absolute;
  left: -4px;
  bottom: -5px;
}

.accent-text--small {
  color: var(--primary);
  text-shadow: none;
}

.accent-text--small::after {
  background: var(--accent1);
  width: 126px;
  height: 12px;
  left: 0;
  bottom: 2px;
}

.grid {
  display: grid;
  grid-template-columns: 270px 1fr;
  column-gap: 30px;
  margin-top: 64px;
}

.grid img {
  width: 100%;
}

.grid-part-1__text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 22px;
}

.hq {
  position: relative;
  margin-bottom: 30px;
}

.hq__text {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  top: 60px;
}

.hq__text strong {
  font-size: 18px;
  line-height: 32px;
}

.hq__text small {
  font-size: 14px;
  line-height: 24px;
}

.grid-part-1__btn {
  width: 100%;
  height: 82px;
  font-size: 32px;
}

.grid-part-2 {
  display: grid;
  grid-template-columns: 270px auto repeat(2, 170px);
  grid-template-rows: auto 222px auto;
  gap: 30px;
}

.consider {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.big-cell {
  position: relative;
}

.big-cell__text {
  font-size: 48px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 0px #000000;
}

.consider .big-cell__text {
  bottom: 16px;
}

.grid-part-2__text {
  grid-column-end: span 2;
  align-self: end;
}

.goal {
  grid-column-end: span 2;
}

.goal .big-cell__text {
  top: 16px;
}

.features {
  margin-top: 160px;
}

.features__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.features__caption {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

@media (max-width: 360px) {
  .features__list {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

.feature {
  --phone-color: #E84393;
  --pie-chart-color: #0984E3;
  --storm-color: #6C5CE7;
  --like-color: #00B894;
}

.feature__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center 7px;
  margin-bottom: 24px;
}

.feature__icon--phone {
  background-color: var(--phone-color);
  background-image: url("./images/phone_icon.svg");
}

.feature__icon--pie-chart {
  background-color: var(--pie-chart-color);
  background-image: url("./images/pie_chart_icon.svg");
}

.feature__icon--storm {
  background-color: var(--storm-color);
  background-image: url("./images/storm_icon.svg");
}

.feature__icon--like {
  background-color: var(--like-color);
  background-image: url("./images/like_icon.svg");
}

.feature__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.feature__caption {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 8px;
}

.feature__btn {
  width: 146px;
  height: 48px;
}

.pricing {
  margin-top: 154px;
  text-align: center;
}

.pricing__title {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 34px;
}

.pricing__caption {
  color: var(--secondary1);
  font-size: 32px;
}

.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 40px;
}

.price-block {
  display: grid;
  padding: 32px;
  grid-template-rows: repeat(2, auto) 1fr auto;
  text-align: left;
  height: 536px;
}

.price-block__caption {
  margin-bottom: 16px;
  color: var(--primary);
  font-size: 18px;
}

.price-block__title {
  font-size: 12px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.price-block__title strong {
  font-size: 48px;
  text-transform: initial;
}

.price-features {
  list-style: none;
  display: grid;
  align-content: start;
  row-gap: 16px;
  grid-auto-rows: 40px;
  align-items: center;
}

.price-features li {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  align-items: center;
}

.price-features li::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--secondary2);
  background-position: center;
  background-image: url("./images/check_icon.svg");
}

.price-block--individual .price-features li::before {
  background-color: var(--accent1);
}

.price-block--corporate .price-features li::before {
  background-color: var(--accent2);
}

.price-block--best {
  position: relative;
  border-radius: 16px;
  background-color: #fff;
  box-shadow:
    0px 8px 8px rgba(38, 50, 56, 0.12),
    0px 16px 24px rgba(38, 50, 56, 0.08);
}

.price-block--best::before {
  content: "Best!";
  position: absolute;
  right: 32px;
  top: 32px;
  padding: 8px 21px;
  border-radius: 100px;
  border: 1px solid var(--primary);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.5px;
}

.price-block--best::after {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  bottom: -30px;
  width: 200px;
  height: 126px;
  background-image: url("./images/pattern.svg");
  z-index: -1;
}

.price-block__btn {
  width: 100%;
  border-radius: 16px;
}

@media (max-width: 360px) {
  .pricing__list {
    grid-template-columns: 1fr;
  }
}

footer {
  margin-top: 160px;
  background-image: url("./images/wave.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 136px;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 40px;
  column-gap: 30px;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer h3 {
  color: var(--secondary1);
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 16px;
}

.socials {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 37px;
}

.socials__item--accent {
  border-radius: 50%;
  background: var(--accent1);
  height: 40px;
}

.email {
  font-weight: bold;
  font-size: 32px;
  color: var(--primary);
}

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}


.bottom-nav ul {
  display: grid;
  row-gap: 16px;
  align-content: start;
}

.form__row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.form__row2 {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
}

.form input, .form textarea {
  border-radius: 16px;
  padding-left: 16px;
  background-color: rgba(194, 194, 194, .24);
  font-size: 18px;
}

.form input {
  height: 48px;
}

.form input::placeholder {
  color: inherit;
}

.form__username {
  background-image: url("./images/user_icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.form__email {
  background-image: url("./images/mail_icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.form textarea {
  border: 1px solid rgba(108, 92, 231, .24);
  padding-top: 16px;
  resize: none;
  background-image: url("./images/edit_icon.svg");
  background-repeat: no-repeat;
  background-position: right 4px;
}

.form textarea::placeholder {
  color: var(--primary);
  font-weight: bold;
}

.form button {
  height: 80px;
  border-radius: 16px;
  text-shadow:
    0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

@media (max-width: 360px) {
  .footer__content,
  .bottom-nav,
  .form__row1,
  .form__row2 {
    grid-template-columns: 1fr;
  }
  .bottom-nav ul {
    margin-bottom: 30px;
  }

}